--extra-index-url https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple
numpy
scipy
matplotlib
plotly
myst_nb
jupyterquiz
ipywidgets
jupyterlite-sphinx
sphinx-exercise
sphinx-proof
sphinx-thebe ~= 0.9.9
jupyter-book
